In [1]:
import numpy as np
import pandas as pd
import datetime

## S3 T02: Exercicis amb Dataframes

- # Exercici 1

Descarrega el data set Airlines Delay: 'Airline on-time statistics and delay causes' i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

-> https://www.kaggle.com/datasets/giovamata/airlinedelaycauses

Important:

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [2]:
flights=pd.read_csv('DelayedFlights.csv', sep=',', encoding='latin1')
flights

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [4]:
print(flights.columns.tolist())

['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [5]:
flights.isnull().sum().sort_values(ascending=False)

LateAircraftDelay    689270
SecurityDelay        689270
NASDelay             689270
WeatherDelay         689270
CarrierDelay         689270
ActualElapsedTime      8387
AirTime                8387
ArrDelay               8387
ArrTime                7110
TaxiIn                 7110
TaxiOut                 455
CRSElapsedTime          198
TailNum                   5
CRSArrTime                0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
Diverted                  0
CancellationCode          0
Cancelled                 0
Distance                  0
UniqueCarrier             0
Dest                      0
Origin                    0
DepDelay                  0
Year                      0
CRSDepTime                0
FlightNum                 0
Unnamed: 0                0
dtype: int64

In [6]:
flights.rename(columns = {'DayofMonth':'Day'}, inplace= True)
flights['Date']= pd.to_datetime(flights[['Year', 'Month', 'Day']])
flights

,Unnamed: 0,Year,Month,Day,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0,2008-12-13
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0,2008-12-13
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0,2008-12-13
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13

In [7]:
f_clean=flights.drop(['Unnamed: 0','CRSElapsedTime','TaxiIn','TaxiOut','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay', 'Year', 'Month', 'Day'], axis=1)
f_clean

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,CarrierDelay,Date
0,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,N,0,NaN,2008-01-03
1,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,113.0,2.0,19.0,IAD,TPA,810,0,N,0,NaN,2008-01-03
2,4,628.0,620,804.0,750,WN,448,N428WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,N,0,NaN,2008-01-03
3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,N,0,2.0,2008-01-03
4,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,87.0,11.0,25.0,IND,JAX,688,0,N,0,NaN,2008-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,120.0,25.0,30.0,MSP,ATL,906,0,N,0,3.0,2008-12-13
1936754,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,78.0,75.0,57.0,RIC,ATL,481,0,N,0,0.0,2008-12-13
1936755,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,122.0,99.0,80.0,ATL,IAH,689,0,N,0,1.0,2008-12-13
1936756,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,89.0,9.0,11.0,IAD,ATL,533,0,N,0,NaN,2008-12-13
1936757,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,104.0,-5.0,7.0,SAT,ATL,874,0,N,0,NaN,2008-12-13

In [8]:
f_clean=f_clean.dropna()

In [9]:
f_clean=f_clean.sample(200000)
f_clean.shape

(200000, 20)

- # Exercici 2

Fes un informe complet del dataset:

    Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic.
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
    Fes una taula de les aerolínies amb més endarreriments acumulats.Quins són els vols més llargs?

In [10]:
f_clean.describe()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,CarrierDelay
count,200000.000000,200000.000000,200000.00000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.0,200000.0,200000.000000
mean,3.986900,1559.148550,1488.36456,1616.059165,1652.144535,2276.375055,135.387310,107.400890,63.369630,59.719590,741.702685,0.0,0.0,19.177965
std,1.992711,454.346882,421.17501,584.583876,462.346497,1996.850993,72.189229,68.130387,61.025554,60.207427,559.332530,0.0,0.0,43.993769
min,1.000000,1.000000,1.00000,1.000000,0.000000,1.000000,17.000000,0.000000,15.000000,6.000000,31.000000,0.0,0.0,0.000000
25%,2.000000,1233.000000,1150.00000,1325.000000,1340.000000,639.000000,83.000000,58.000000,26.000000,24.000000,334.000000,0.0,0.0,0.000000
50%,4.000000,1619.000000,1530.00000,1737.000000,1721.000000,1588.000000,118.000000,89.000000,43.000000,41.000000,595.000000,0.0,0.0,2.000000
75%,6.000000,1924.000000,1830.00000,2048.000000,2022.000000,3675.000000,167.000000,136.000000,79.000000,75.000000,972.000000,0.0,0.0,21.000000
max,7.000000,2400.000000,2359.00000,2400.000000,2359.000000,7829.000000,697.000000,664.000000,1359.000000,1367.000000,4962.000000,0.0,0.0,1359.000000

In [11]:
f_clean.isna().sum().sort_values(ascending=False)

DayOfWeek            0
DepTime              0
CarrierDelay         0
Diverted             0
CancellationCode     0
Cancelled            0
Distance             0
Dest                 0
Origin               0
DepDelay             0
ArrDelay             0
AirTime              0
ActualElapsedTime    0
TailNum              0
FlightNum            0
UniqueCarrier        0
CRSArrTime           0
ArrTime              0
CRSDepTime           0
Date                 0
dtype: int64

In [12]:
#Average speed

milestokmh= 60/0.62137

f_clean['Average_Speed']=(f_clean['Distance'] / f_clean['ActualElapsedTime'])*milestokmh
f_clean['Average_Speed'].round(2).head(3)

1438931    497.40
1897332    486.25
951038     496.16
Name: Average_Speed, dtype: float64

In [41]:
# Delayed

f_clean['Delayed']=f_clean['ArrDelay']>0
f_clean['Delayed'].sort_values(ascending=False)

1438931    True
773807     True
812083     True
823909     True
641256     True
           ...
1447468    True
337685     True
1874494    True
1690419    True
1445180    True
Name: Delayed, Length: 200000, dtype: bool

In [14]:
f_clean['Delayed'] = np.where(f_clean['ArrDelay'] > 0, 1, 0)
f_clean['Delayed'].sum()

200000

In [15]:
# Acum Delayed

acumDelayed=f_clean.groupby('UniqueCarrier')['ArrDelay'].sum().sort_values(ascending=False)
acumDelayed.head(10)

UniqueCarrier
WN    1720856.0
AA    1410304.0
UA    1064790.0
MQ     982167.0
OO     918799.0
XE     829657.0
DL     700042.0
CO     636848.0
EV     611913.0
YV     577412.0
Name: ArrDelay, dtype: float64

In [39]:
# Longer flights

Longer=f_clean[['ActualElapsedTime','UniqueCarrier','FlightNum','TailNum', 'Distance']].copy()
Longer.sort_values(by='ActualElapsedTime', ascending=False).head()

         ActualElapsedTime UniqueCarrier  FlightNum TailNum  Distance
362529               697.0            CO         15  N67058      4962
1928078              683.0            CO         15  N76054      4962
875499               681.0            CO         15  N76054      4962
173822               663.0            CO         15  N78060      4962
1070004              658.0            CO         15  N76054      4962

In [43]:

delayed_flights=f_clean[['ArrDelay','UniqueCarrier','FlightNum','TailNum', 'Distance']].copy()
delayed_flights.sort_values(by='ArrDelay', ascending=False).head(7)

         ArrDelay UniqueCarrier  FlightNum TailNum  Distance
1380381    1359.0            NW        624  N376NW       981
350073     1292.0            AA       2262  N5DHAA       720
684233     1291.0            NW       1064  N334NB      1215
1909103    1279.0            AA       2228  N624AA       769
1906664    1225.0            AA       1790  N473AA      1372
835926     1203.0            NW        306  N552NW      1536
517653     1166.0            NW        940  N354NB      1026

- # Exercici 3

Exporta el dataset net i amb les noves columnes a Excel.

In [44]:
f_clean.columns

Index(['DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'Date', 'Average_Speed',
       'Delayed'],
      dtype='object')

In [45]:
f_clean.shape

(200000, 22)

In [48]:
f_clean.to_excel('DelayedFlights.xlsx', index=False)